<html>
    <head><title>Student Details</title></head>
    <body>
        <h1>Student Details of {{name}}</h1>
        {% if student %}
            <ul>
                <li><strong>Name:</strong> {{ student.col_a }}</li>
                <li><strong>Subject:</strong> {{ student.col_b }}</li>
                <li><strong>Grade:</strong> {{ student.col_c }}</li>
                <li><strong>Status:</strong> {{ student.col_d }}</li>
                <li><strong>Year:</strong> {{ student.col_e }}</li>
            </ul>
        {% else %}
            <h2>Student not found</h2>
        {% endif %}
    </body>
</html>